var config = {};

config.antares = {secret: process.env.ANTARES_SECRET;
config.youtube = {
  apiKey: process.env.YOUTUBE_API_KEY,
  channels: [
    {
      id: 'UCdQvwubOWGRB8JyoEC7lSbA',
      name: 'TheSimpleClub',
      language: 'de-de'
    }
  ]
};

module.exports = config;
